.nav{
  height: 10vh;
  width: 90%;
  margin-left: 5%;
  /* background-color: rgba(0, 0, 0, 0.459); */
  display: flex;
  align-items: center;
}
.nav h1{
  padding-left: 5px;
  font-family: "Playwrite HR Lijeva", cursive;
}
.nav ul{
  height: 10vh;
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 18%;
}
.nav ul li{
  list-style: none;
}
.nav-link{
  color: black !important;
  font-size: 19.5px !important;
  text-transform: capitalize;
  font-weight: 470;
  text-decoration: none;
  transition: 0.3s ease;
  font-family: "Poppins", sans-serif;
}
.nav svg{
  display: none;
}
.nav-link:hover{
  color: #f9004d !important;
}
span{
  color: #f9004d;
}

/* mobile version */
@media only screen and (max-width: 600px) {
  .nav{
    height: 7vh;
    width:90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav h1{
    font-size: 5.8vw;
  }
  .nav ul{
    display: none;
  }
  .nav svg{
    display: block;
    height: 6vh;
    width: 6vw;
  }
}


