.nav{
  height: 10vh;
  width: 80%;
  background-color: rgba(0, 0, 0, 0.479);
  border-radius: 10px;
  display: flex;
  align-items: center;
}
.nav h1{
  padding-left: 5px;
}
.nav ul{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30%;
}
.nav ul li{
  list-style: none;
  margin-right: 5%;
}
.nav Link{
  color: white;
}
