*{
    font-family: "Poppins", sans-serif;
}
.project{
    height: 106vh;
    width: 90%;
    margin-left: 5%;
    border-radius: 10px;
    position: relative;
}
.flexing{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.project h1{
    text-align: center;
    letter-spacing: 1px;
    word-spacing: 2px;
    color: #f9004d;
    padding-bottom: 2%;
    text-transform: capitalize;

}
@media screen and (max-width: 479px) {
    .project{
        height: 220vw;
        width: 90%;
        margin-left: 5%;
        border-radius: 10px;
        margin-bottom: 2vw;
        border-bottom: 1px solid gray;
        border-radius:0;
    }
    .project h1{
        font-size: 8vw;
    }
    .flexing{
        flex-direction: column;
        height: 195vw;
        width: 98%;
    }
}



