*{
    font-family: "Poppins", sans-serif;
}
.skills-page{
    height: 85vh;
    width: 90%;
    margin-left: 5%;
    /* background-color: whitesmoke; */
    border-radius: 10px;

}
.skills-page h1{
    text-align: center;
    letter-spacing: 1px;
    word-spacing: 2px;
    color: #f9004d;
    padding-bottom: 2%;
}
.container-flex-box{
    height: 65vh;
    width: 98%;
    margin-left: 1%;
    display: flex;
    justify-content: space-evenly;
}
/* mobile version */
@media only screen and (max-width: 600px) {
    .skills-page{
        height: 235vw;
        width: 90%;
        margin-left: 5%;
        border-radius: 10px;
    
    }
    .skills-page h1{
        font-size: 6vw;
    }
    .container-flex-box{
        height: 220vw;
        width: 98%;
        margin-left: 1%;
        display: flex;
        margin-top: -5vw;
        margin-top: 2vw;
        flex-direction: column;
        justify-content: space-evenly;
    }
  }

