*{
    font-family: "Poppins", sans-serif;
}
.skills-page{
    height: 85vh;
    width: 90%;
    margin-left: 5%;
    /* background-color: whitesmoke; */
    border-radius: 10px;

}
.skills-page h1{
    text-align: center;
    letter-spacing: 1px;
    word-spacing: 2px;
    color: #f9004d;
    padding-bottom: 2%;
}
.container-flex-box{
    height: 65vh;
    width: 98%;
    margin-left: 1%;
    display: flex;
    justify-content: space-evenly;
}
/* mobile version */
@media  screen and (max-width: 479px) {
    .skills-page{
        height: 295vw;
        width: 100%;
        margin-left: 0%;
        border-radius:0;
        border-bottom: 1px solid gray;
    
    }
    .skills-page h1{
        font-size: 8vw;
    }
    .container-flex-box{
        height: 273vw;
        width: 98%;
        margin-left: 1%;
        display: flex;
        margin-top: -5vw;
        margin-top: 2vw;
        flex-direction: column;
        justify-content: space-evenly;

   }
  }

