*{
    font-family: "Poppins", sans-serif;
}
.copyright{
    height: 40vh;
    width: 75%;
    margin-left: 12.5%;
    margin-top: 5%;
    border-top: 1px solid black;
    display: flex;
    justify-content: space-evenly;
}
.copyright p{
    text-align: center;
    letter-spacing: 1px;
    word-spacing: 1px;
    padding-top: 1%;
    color: black;
}
.services{
    height: 40vh;
    width: 26%;
    margin-top: 1%;
}
.services h3{
    letter-spacing: 1px;
    color: #f9004d;
}
.services li{
    padding-bottom: 5%;
    list-style: none;
}
.useful-links{
    height: 40vh;
    width: 26%;
    margin-top: 1%;
}
.icons{
    height: 40vh;
    width: 26%;
    margin-top: 1%;
}
.useful-links h3{
    letter-spacing: 1px;
    color: #f9004d;
}
.useful-links li{
    padding-bottom: 5%;
    font-size: 17px;
    list-style: none;
}
.footer-link{
    text-decoration: none;
    font-size: 17px !important;
    color: black;
}
.icons h3{
    letter-spacing: 1px;
    padding-left: 25px;
    color: #f9004d;
}
.social-media-facebook-icons{
    padding-left: 13%;
}
.social-media-facebook-icons:hover{
    cursor: pointer;
}
.social-media-instagram-icons{
    padding-left: 6%;
}
.social-media-instagram-icons:hover{
    cursor: pointer;
}

@media screen and (max-width:479px) {
    .copyright{
        height: 117vw;
        width: 90%;
        margin-left:5%;
        flex-direction: column;
        justify-content: normal;
        
    }
    .services{
        height: 35vw;
        width: 90%;
        margin-left: 0%;
        margin-top: 1%;
    }
    .services h3{
        letter-spacing: 1px;
        color: #f9004d;
        text-align: center;
        font-size: 6vw;
        margin-top: -5%;
    }
    .services li{
        padding-bottom: 3%;
        list-style: none;
        text-align: center;
        font-size: 4.5vw;
    }
    .useful-links{
        height: 45vw;
        width: 90%;
        text-align: center;
        margin-bottom: 13vw;
    }
    .icons{
        height: 22vw;
        width: 90%;
        margin-top: 1%;
        text-align: center;
    }
    .useful-links h3{
        letter-spacing: 1px;
        color: #f9004d;
        margin-top: -5%;
    }
    .useful-links li{
        padding-bottom: 3%;

        list-style: none;
    }
    .footer-link{
        text-decoration: none;
        font-size: 4.5vw;
        color: black;
    }
    .icons h3{
        letter-spacing: 1px;
        padding-left: 25px;
        color: #f9004d;
        margin-top: -1%;
    }
}
